{% for loopback_interface in loopback_interfaces %}
interface {{ loopback_interface.interface }}
{# verify state of interface and apply 'no shutdown' if applicable - this is to achieve idempotency when exceuting #}
{%     if loopback_interface.state_enabled == true %}
{%         if interface_facts[loopback_interface.interface] is defined %}
{%             if interface_facts[loopback_interface.interface].operstatus == "administratively down" %}
 no shutdown
{%           endif %}
{%         else %}
 no shutdown
{%         endif %}
{%     else %}
 shutdown
{% endif %}
 description {{ loopback_interface.description }}
 ip address {{ loopback_interface.ip.address | ipaddr('address') }} {{ loopback_interface.ip.address | ipaddr('netmask') }}
{% endfor%}