<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="css/main.css">
</head>
<body>
<table>
    <thead>
        <tr>
            <th>Hostname</th>
            <th>Sys Name Type</th>
            <th>Sys Value</th>
        </tr>
    </thead>
    <tbody>
{% for server in groups['windows'] %}
        <tr>
            <td>{{hostvars[network_switch]['ansible_net_hostname']}}</td>
            <td>{{hostvars[network_switch]['ansible_net_model']}}</td>
            <td {% if hostvars[network_switch]['ansible_net_version'] != desired_version %}style="background:yellow;"{% endif %}>{{hostvars[network_switch]['ansible_net_version']}}</td>
        </tr>
{% endfor %}
    </tbody>
</table>

</body>
</html>


{{ inventory_hostname }} {{ uptime.LastBootUpTime }} {{ uptime.ClassPath.ClassName }}

{% for SystemProperty in uptime.SystemProperties %}
{{ SystemProperty.Name }} {{ SystemProperty.Value }}
{% endfor %}
