
hostname {{hostname}}

{% for ntp_server in ntp_servers %}
ntp server {{ntp_server}}
{% endfor%}

ip domain-name {{domain_name}}
!
snmp-server community {{ snmp_community.ro }} RO
snmp-server community {{ snmp_community.rw }} RW
snmp-server trap-source Loopback0
snmp ifmib ifindex persist

{# cdp run #}

