## {{ inventory_hostname }}

### Interfaces:

* LAN Interfaces:

| interface     | description  | ip address   |
| ------------- | ------------ | ------------ |
{% for lan_interface in lan_interfaces %}
| {{ lan_interface.interface }} | {{ lan_interface.description }} | {% if lan_interface.ip is defined %} {{ lan_interface.ip.address }} {% else %} N/A {% endif %}|
{% endfor %}

* WAN Interfaces:

| interface     | description  | ip address   | bandwidth |
| ------------- | ------------ | ------------ | --------- |
{% for wan_interface in wan_interfaces %}
| {{ wan_interface.interface }} | {{ wan_interface.description }} | {{ wan_interface.ip.address }} | {{ wan_interface.bandwidth/1000 }} |
{% endfor %}

* Tunnel Interfaces:

| interface     | profile      | ip address   | tunnel source |
| ------------- | -------------| ------------ | ------------- |
{% for tunnel_interface in tunnel_interfaces %}
| {{ tunnel_interface.interface }} | {{ tunnel_interface.profile }} | {{ tunnel_interface.ip.address }} | {{ tunnel_interface.source }} |
{% endfor %}

### Routing:

* VRFs:

| VRF name | route distinguisher |
| -------- | ------------------- |
{% for vrf in vrfs %}
| {{ vrf.vrf_name }} | {% if vrf_attributes[vrf.vrf_name] is defined %} {{ vrf_attributes[vrf.vrf_name].rd }}{% endif %} | 
{% endfor%}

* Static routes:
 
| name | prefix | mask | forwarding router | vrf (if applicable) |
| ---- | ------ | ---- | ----------------- | ------------------- |
{% for static_route in static_routes %}
{%    if static_route.vrf is defined %}
| {{ static_route.route_name }} | {{ static_route.destination.prefix }} | {{ static_route.destination.mask }} | {{ static_route.forwarding_router }} | {{ static_route.vrf }} |{%    else %}
| {{ static_route.route_name }} | {{ static_route.destination.prefix }} | {{ static_route.destination.mask }} | {{ static_route.forwarding_router }} | default |
{%    endif %} 
{% endfor%}

_________________________________________________________________
