# IP address Filter

## issue with first IP address of subnet not yielding any results when using:
## "ip.address | ipaddr(loop.index0) | ipaddr('address')"

| Address | Available IP | Generated IP |
| ------- | ------------ | ------------ |
{% for ip in ips %}
{%     for available_ip in ip.available_ips %}
|{{ ip.address }}|{{ available_ip }}|{{ ip.address | ipaddr(loop.index0) | ipaddr('address') }}|
{%     endfor %}
{% endfor %}

## the issue is actually with the second part of the filter "ipaddr('address')" it simply doesnt return the address if it's the network
## "ip.address | ipaddr(loop.index0) "

| Address | Available IP | Generated IP |
| ------- | ------------ | ------------ |
{% for ip in ips %}
{%     for available_ip in ip.available_ips %}
|{{ ip.address }}|{{ available_ip }}|{{ ip.address | ipaddr(loop.index0) }}|
{%     endfor %}
{% endfor %}


## try fix with using ipaddr('host') instead... same result not yielding any results for first IP of subnet:
## "ip.address | ipaddr(loop.index0) | ipaddr('host')"

| Address | Available IP | Generated IP |
| ------- | ------------ | ------------ |
{% for ip in ips %}
{%     for available_ip in ip.available_ips %}
|{{ ip.address }}|{{ available_ip }}|{{ ip.address | ipaddr(loop.index0) | ipaddr('host') }}|
{%     endfor %}
{% endfor %}


## fix using ipmath instead based of network:
## "ip.address | ipaddr('network') | ipmath(loop.index0)"

| Address | Available IP | Generated IP |
| ------- | ------------ | ------------ |
{% for ip in ips %}
{%     for available_ip in ip.available_ips %}
|{{ ip.address }}|{{ available_ip }}|{{ ip.address | ipaddr('network') | ipmath(loop.index0) }}|
{%     endfor %}
{% endfor %}